@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.content-wrapper {
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-image {
    height: 40px;
    margin-bottom: 40px;
}

.main-title {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 40px;
}

.main-image {
    height: 200px;
    background-color: #f8e7ff;
    padding: 35px 90px;
    border-radius: 5px;
    margin-bottom: 35px;
}

.subtitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

.list-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.text,
.list {
    font-weight: 300;
    font-size: 15px;
    color: #3c3c3c;
    line-height: 25px;
    text-align: left;
}

.text {
    margin-bottom: 20px;
}

.list:first-child {
    margin-right: 80px;
}

.button-container {
    margin-bottom: 50px;
}

.button {
    background-color: #b200fd;
    color: #ffffff;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 3px;
}

.footer-text {
    font-weight: 300;
    font-size: 12px;
    color: #3c3c3c;
    text-align: left;
    margin-bottom: 20px;
}

.footer-text .unsubscribe-link {
    color: #b200fd;
    font-weight: 600;
}

.footer-text .bold-text {
    font-weight: 600;
}
